/*
    Rosa Munguia
    Comp229 Section 009
    September 29 2017
    Student No. 300735300
*/

/* Home Page CSS */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: rgba(242,246,248,1);
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

#homePage{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:800px;
    top: 11px;
    left: 249px;
}
#rosaBanner {
    padding-left: 30px;
    font-family: monotype corsiva;
}

#myNav{
    background-color:#eeeeee;
}

#myNav a:hover{
    background-color:dimgrey;
    color:ivory;
    font-size:16px;
}

#myNav ul li a{
    color:darkblue;
}
.myName{
    font-family:'Monotype Corsiva';
    font-size:large;
}

#wholePage {
    margin: auto;
    position: relative;
   width:900px;
}

#logo {
    float: left;
    padding-left: 10px;
    width: 150px;
    height: 120px;
    overflow:hidden;
    margin-bottom:25px;
    
}

/*Resume Page CSS*/
.info{    margin-left: 361px;
}

.pic{
    float:left;
    height: 664px;
    width: 415px;
}